body{
  margin: 0
}
.donut-container{
  margin: 10px 0;
  height: 180px;
  padding: 0 !important
}
svg {
	width: 100%;
	height: 100%;
  overflow: visible;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.labelValue
{
	font-size: 60%;
	opacity: .5;

}
text {
  font: 12px sans-serif;
}
.donut{
  width: 200px;
  height: 200px;
  margin: 100px
}

div.tooltipMap {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  display: none;
  opacity:1;
}
.infoContainer{
  width: 300px;
  background: #fff;
  position: absolute;
  bottom: 180px;
  right: 50px;
  zoom: .8;
  border-radius: 3px;
  box-shadow: 0 0 20px -7px #333;
  overflow: hidden;
  z-index: 100
}
.infoHeader{
  height: 60px;
  position: relative;
  padding: 15px;
  background: #F12147;
  z-index: 0;
  text-align: left;
}
.infoHeader h2{
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  padding-left: 20px;
}
.infoShadow{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to bottom right, #F12147 50%, #BC1739 50%);
  z-index: -1
}
.infoBody{
  margin: 15px;
  color: #666;
}
.infoBody h3{
  margin-top: 5px;
  color: #BC1739;
  font-weight: bold
}
.porcContainer{
  height: 20px;
  width: 100%;
  border-radius: 5px;
  background: #eee;
  overflow: hidden;
}
.porcBar{
  background: #BC1739;
  width: 20%;
  float: left;
  transition: width ease 0.5s
}
#barChart{
  width: 600px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 20px -10px;
}
.barNum {
    position: absolute;
    right: 4px;
    top: 4px;
}
.barWidth {
    background: #8ec0e4;
    padding: 4px;
    transition: all ease 0.3s
}
.barWidth:hover {
    background: #0087cc;
}
.bar {
    text-align: left;
    position: relative;
    font-size: 14px;
    border-bottom: solid 1px #f0f0f0;
    white-space: nowrap;
}

/*CSS PARA EL HIERARCHICAL*/

text {
  font: 10px sans-serif;
}

rect.background {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.dropdown-content a{
  background-color: #ddd
}
.percentHolder{
  position: relative;
}
.percentData{
  position: absolute;
  right: 20px;
  top: 15px;
  color: #999
}
#svg0, #barGraph{
  height: 600px;
}
.curve-container {
    width: 100%;
    position: relative;
     z-index: 99;
    //height: 0;
    pointer-events: none;
    //padding: 0 0 15.4%;
    margin: -15.5% 0 0 0;
    transform: rotate(180deg);
}
.jumbotron{
  margin-bottom: -20px !important;
}



@media screen and (max-width: 768px) {
  #beneficios{
    //padding-top: 40px
  }
  #subtitleH3{
    margin-bottom: 10px !important;
  }
  .curve-container{
    //margin: -15.5% 0 0 0;
  }
  .infoContainer{
    position: initial;
    margin: 30px auto;
    width: 80%;
  }
}
